#container{
    border: 1px solid black;
    height: 600px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;

}
.grid {
    margin: 0;
}
.changeColor{
    background-color: blue;
}
button{
    width: 100px;
    height: 50px;
}